@font-face {
  font-family: 'mtj';
  src:url('../font/iconfont.ttf');
}

@name1:shu;
@name2:fd;
@name3:yumao;
@name4:shezhi;
@name5:ye;
@name6:xinfeng;

@con1:e69b;
@con2:e649;
@con3:f00f5;
@con4:e604;
@con5:e602;
@con6:e640;

.for(@i:1) when (@i<=6){
  @n:'name@{i}';
  @n1:@@n;//对应的名字   eg:tx
  @c:'con@{i}';
  @c1:@@c;

  //before  图标在前 前面显示content内容
  *[data-role=@{n1}]:before{
    font-family: mtj;
    content:"\@{c1}";
  }

  *[data-role=@{n1}][icon-pos=top]:before{
    display:block;
    font-family: mtj;
    content:"\@{c1}";
  }

  *[data-role=@{n1}][icon-pos=left]:before{
    font-family: mtj;
    content:"\@{c1}";
  }

  //设置右 和 下 的时候将之前的放在前面的图标去掉  下面这段代码产生的图标
  //*[data-role=@{n1}]:before{
  //  font-family: mtj;
  //  content:"\@{c1}";
  //}
  *[data-role=@{n1}][icon-pos=right]:before{
    font-family: mtj;
    content:"";
  }
  *[data-role=@{n1}][icon-pos=right]:after{
    font-family: mtj;
    content:"\@{c1}";
  }


  *[data-role=@{n1}][icon-pos=bottom]:before{
    font-family: mtj;
    content:"";
  }
  *[data-role=@{n1}][icon-pos=bottom]:after{
    display:block;
    font-family: mtj;
    content:"\@{c1}";
  }



  .for(@i+1);
}
.for();








